.login-lightbox-container{
  width: 400px;
  box-shadow: 1px 1px 1px #505050;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.login-lightbox{
  text-align: left;
  padding: 15px;
}
.login-field{
  width: 100%;
  height: 30px;
  color: #808080;
  font-weight: 200;
  font-size: 18px;
  margin-top: 15px;
}
.login-submit{
  margin-top: 10px;
  width: 100%;
  height: 45px;
  background-color: #5a54a4;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  border: none;
}
#login-message{
  display: none;
  color: #fff;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  background-color: #9e0039;
}
.main-login{
  position: absolute;
  /* top: 50%; */
  /* left: 25%; */
  width: 50%;
  margin: auto;
  text-align: center;
  top: 20%;
  width: 100%; 
}