{% extends "header.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>


<div id = "home-main-body">
  <div class = "main-logo" style = "top: 45%;">
    <img src = "static/img/scuniversitylogo.png">
  </div>
  <div class = "home-page-option-container">
    <div class = "home-page-option-inner-container">
      <div class = "home-page-option" id = "first-option">
        <a id = "home-page-button" href="https://login.marketo.com" target="_blank">Technical University</a>
      </div>
      <div class = "home-page-option" id = "second-option">
        <a id = "home-page-button" href="get-started/get-started.html">MarketoLive University</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}