{% extends "header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/login.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>


<div id = "home-main-body">
  <div class = "main-login">
    <img src = "static/img/scuniversitylogo.png">
    <div class = "login-lightbox-container">
      <div class = "login-lightbox">
        <div id = "login-message">
          Login Failed
        </div>
        <div class = "login-title">
          Login
        </div>
        <input type = "text" class = "login-field" name = "username" id = "username" placeholder = "Username">
        <input type = "password" class = "login-field" name = "password" id = "password" placeholder = "Password">
        <input type="hidden" name="field" id = "value-add" value={{id}}>
        <input type="submit" class = "login-submit" id= "login-submit" value="Submit">
      </div>
    </div>
  </div>
</div>
{% endblock %}