<!DOCTYPE html>
<html lang="en">

  <head profile="go-agile/business.html">
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Business to Business Marketing</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/login.css') }}" />

  </head>
  <body id="page-top" class = "body-background">
    <div class="top-bar">
      <div class="top-bar-container">
        <a href="/"> 
          <img id = "marketo-ball" src="static/img/marketoball.png" width = "80px;" class="img-responsive" alt=""> 
          <img id = "scu-logo" src="static/img/scuniversitylogo.png" width="125px;" class="img-responsive" alt=""> 
        </a>
      </div>
    </div>
    <div id = "home-main-body">
      <div class = "main-logo">
        <img src = "static/img/scuniversitylogo.png">
        <div class = "login-lightbox-container">
          <div class = "login-lightbox">
            <div id = "login-message">
              Login Failed
            </div>
            <div class = "login-title">
              Login
            </div>
            <input type = "text" class = "login-field" name = "username" id = "username" placeholder = "Username">
            <input type = "password" class = "login-field" name = "password" id = "password" placeholder = "Password">
            <input type="submit" class = "login-submit" id= "login-submit" value="Submit">
          </div>
        </div>
      </div>
    </div>
    <!-- Marketo Munchkin -->
    <script type="text/javascript">
      document.write(unescape("%3Cscript src='//munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
      Munchkin.init('226-FBL-320');
    </script>
    <!-- Marketo Forms -->
    <script src="//app-sj08.marketo.com/js/forms2/js/forms2.min.js"></script>
    <!-- Google Analytics -->
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] ||
        function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-57886764-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script>
      $('#get_started_link, action1').click(function() {
        ga('send', 'event', first + ' ' + last, 'Get Started');
      });
    </script>
  </body>
    <footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
    </footer>
